# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a code cell to multiply and add numbers
- Create a markdown cell introducing arithmetic expression examples
- Create a markdown cell to list data science libraries

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlip
4. Seaborn
5. Scipy

|Data Science Tools|
|------------------
|MySQL|
|Git|
|Jupyter|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

1. 4+2
2. 66-38
3. 41*2
4. 15/3

In [18]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Autor

Gustavo Nemecio Molina Mendoza